<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeadPilot</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">

        <h1>🚀 LeadPilot</h1>

        <p>AI Powered Sales Agent</p>

        <button id="uploadBtn">Upload CSV</button>
        <input
    type="file"
    id="csvFile"
    name="csvFile"
    accept=".csv"
    hidden
>
<div id="leadsContainer"></div>
<h2>Email Preview</h2>

<pre id="emailPreview"></pre>
<button id="sendBtn" style="display:none;">
    Send Email
</button>

    </div>
<script src="/js/script.js"></script>
</body>
</html>