<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LeadPilot Login</title>

    <link rel="stylesheet" href="/css/login.css">

    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="login-box">

    <h1>🚀 LeadPilot</h1>

    <p>AI Powered Sales Automation Platform</p>

    <input
        type="text"
        id="username"
        placeholder="Username">

    <div class="password-box">

    <input
        type="password"
        id="password"
        placeholder="Password">

    <span id="togglePassword">👁</span>

</div>
        <p id="errorMessage" class="error"></p>

    <button id="loginBtn">
        Login
    </button>

    <button id="demoBtn" class="demo-btn">
    Use Demo Account
</button>

</div>

<script src="/js/login.js"></script>

</body>
</html>